<!DOCTYPE html>
<html lang="es">
	<head>
		<!-- Include con ejs de todo el codigo en comun del head -->
		<%- include('./partials/head.ejs') %>
		<link rel="stylesheet" href="/stylesheets/home.css" />
		<title>Inicio | BeerStore</title>
	</head>

	<body>
		<!-- Include del header.ejs -->
		<%- include('./partials/header.ejs') %>
		<main class="container">
			<h2 style="text-align: center;">
				Muchas Gracias por registrate
				<p style="font-family: 'Bungee Shade', cursive;"><%= nombre %></p>
			</h2>
		</main>
		<!-- Include del footer.ejs -->
		<%- include('./partials/footer.ejs') %> <%- include('./partials/jsIncludes.ejs') %>
	</body>
</html>
