<!DOCTYPE html>
<html lang="es">
	<head>
		<!-- Include con ejs de todo el codigo en comun del head -->
		<%- include('./partials/head.ejs') %>
		<link rel="stylesheet" href="/stylesheets/productAdd.css" />
		<title>Editar Producto | BeerStore</title>
	</head>

	<body>
		<!-- Include del header.ejs -->
		<%- include('./partials/header.ejs',{nombre,imageUsr,usrId}) %>
		<main class="container">
			<h2 id="titulo-carga-producto">Editar Producto</h2>

			<form method="POST" action="/products/<%= product.id %>?_method=PUT" enctype="multipart/form-data">
				<div class="form-row">
					<div class="form-group col-md-4">
						<label for="nombreProducto">Nombre del Producto</label>
						<input
							type="text"
							id="nombrePorducto"
							name="name"
							class="form-control"
							required
							value="<%= product.name %>"
						/>
					</div>
					<div class="form-group col-md-4">
						<label for="catProducto">Categoría</label>

						<select name="category_id" id="category" class="form-control" required>
							<option selected disabled>Elegir..</option>
							<% for( let i = 0; i < products_category.length; i++ ) { %> <% if (product.category_id
							== products_category[i].id) { %>
							<option value="<%= products_category[i].id %>" selected
								><%= products_category[i].name %>
							</option>
							<% }else{%>
							<option value="<%= products_category[i].id %>"
								><%= products_category[i].name %>
							</option>
							<% } %> <% } %>
						</select>
					</div>
					<div class="form-group col-md-4">
						<label for="origenProducto">Origen</label>
						<input
							type="text"
							id="origenProducto"
							name="origin"
							class="form-control"
							required
							value="<%= product.origin %>"
						/>
					</div>
				</div>

				<div class="form-row">
					<div class="form-group col-md-3 col-3">
						<label for="gradAlProducto">% Alcohól</label>
						<input
							type="number"
							id="gradAlProducto"
							class="form-control"
							name="alcohol"
							required
							value="<%= product.alcohol %>"
						/>
					</div>
					<div class="form-group col-md-3 col-3">
						<label for="ibu">IBU</label>
						<input
							type="number"
							id="ibu"
							class="form-control"
							name="ibu"
							required
							value="<%= product.ibu %>"
						/>
					</div>
					<div class="form-group col-md-3 col-3">
						<label for="medida">Medida</label>
						<select name="size_id" id="medida" class="form-control" required>
							<option selected disabled>Elegir..</option>
							<% for( let i = 0; i < products_size.length; i++ ) { %> <% if (product.size_id ==
							products_size[i].id) { %>
							<option value="<%= products_size[i].id %>" selected
								><%= products_size[i].size %></option
							>
							<% }else{ %>
							<option value="<%= products_size[i].id %>"><%= products_size[i].size %> </option>
							<% } %> <% } %>
						</select>
					</div>
					<div class="form-group col-md-3 col-3">
						<label for="price">Precio</label>
						<input
							type="number"
							id="price"
							class="form-control"
							name="price"
							required
							value="<%= product.price %>"
						/>
					</div>
				</div>
				<div class="form-row">
					<div class="input-group col-md-12">
						<label class="mr-auto" for="inputFile">Agregar Imágen</label>
						<div class="custom-file">
							<input
								type="file"
								class="custom-file-input"
								id="inputFile"
								name="imagen_url"
								value="<%= product.image_url  %> "
							/>
							<label id="lblInputFile" class="custom-file-label" for="inputFile"
								>Elegir Archivo</label
							>
						</div>
					</div>
				</div>
				<div class="form-row">
					<div class="form-group col-md-12">
						<label for="desProducto">Descripción</label
						><textarea name="description" id="resProducto" class="form-control" rows="10">
<%= product.description %></textarea
						>
					</div>
				</div>
				<div class="form-row">
					<div class="form-group col-md-6">
						<input class="btn btn-primary" type="submit" value="Guardar Cambios" />
					</div>
				</div>
			</form>
		</main>
		<!-- Include del footer.ejs -->
		<%- include('./partials/footer.ejs') %> <%- include('./partials/jsIncludes.ejs') %>
	</body>
</html>
