<!DOCTYPE html>
<html lang="es">
	<head>
		<!-- Include con ejs de todo el codigo en comun del head -->
		<%- include('./partials/head.ejs') %>
		<link rel="stylesheet" href="/stylesheets/product.css" />
		<title>Productos | BeerStore</title>
	</head>

	<body>
		<!-- Include del header.ejs -->
		<%- include('./partials/header.ejs',{nombre,imageUsr,usr}) %>
		<main class="contain">
			<div class="banner-products"></div>
			<h2 style="text-align: center; margin-top: 20px;">Lista de Producto en Venta</h2>
			<div class="productos">
				<% for( let i = 0; i < products.length; i++ ) { %>

				<div class="producto" id="producto<%= products[i].id %>">
					<div class="cont-img-producto">
						<img src="<%= products[i].image_url %>" alt="" />
					</div>
					<div class="producto-descripcion">
						<h2><%= products[i].name %></h2>
						<p>
							<%= products[i].description %>
						</p>
						<p id="priceProduct">
							$<%= products[i].price %>
						</p>
						<div style="margin-top: 50px;">
							<a href="/products/<%= products[i].id %> " class="btn btn-primary">Ver Detalle</a>
							<form
								style="display: inline;"
								method="POST"
								action="/cart/<%= products[i].id %>/addCart"
							>
								<button type="submit" class="btn btn-success" title="Comprar">
									<i class="fas fa-shopping-cart"></i>
								</button>
							</form>
							<% if (usr === 1) { %>

							<form
								style="display: inline;"
								method="POST"
								action="/products/<%= products[i].id %>?_method=DELETE"
							>
								<button type="submit" class="btn btn-danger" title="Borrar">
									<i class="far fa-trash-alt"></i>
								</button>
							</form>
							<a href="/products/<%= products[i].id %>/edit " class="btn btn-warning" title="Editar"
								><i class="far fa-edit"></i
							></a>
							<% } %>
						</div>
					</div>
				</div>

				<% } %>
			</div>
		</main>
		<!-- Include del footer.ejs -->
		<%- include('./partials/footer.ejs') %> <%- include('./partials/jsIncludes.ejs') %>
	</body>
</html>
