<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<%- include ('links.ejs') %>
		<title><%= titulo %></title>
	</head>
	<body>
		<%- include ('header.ejs') %>
		<ul>
			<% for( let i = 0; i < pelis.length; i++ ) { %>
			<li><%= pelis[i].title %></li>
			<li><%= pelis[i].overview %></li>
			<% } %>
		</ul>
	</body>
</html>
