<!DOCTYPE html>
<html lang="es">

<head>
	<!-- Include con ejs de todo el codigo en comun del head -->
	<%- include('./partials/head.ejs') %>
	<link rel="stylesheet" href="/stylesheets/productCart.css" />
	<title>Carrito | BeerStore</title>
</head>

<body>
	<!-- Include del header.ejs -->
	<%- include('./partials/header.ejs') %>
	<main class="container">
		<section id="carrito">
			<article id="header-cart">
				<h2>Carrito</h2>
			</article>

			<article id="body-cart">
				<div id="img-cart-container">
					<img src="/images/productos/<%= producto %>.png" alt="img" />
				</div>
				<div id="detalles-cart">
					<div id="descripcion-cart">
						<h2>nombre cerveza</h2>
						<p>descripcion del producto</p>
					</div>
				</div>
			</article>

			<article id="counter">
				<div>
					<p>Unidades : </p>
				</div>
				<div id="precio-cart">
					<button id="res-cart">-</button>
					<div id="precio-cart">
						<p>0</p>
					</div>
					<button id="sum-cart">+</button>
				</div>
			</article>

			<article id="footer-cart">
				<div class="main-sumary">
					<div class="cantidad">
						<div>
							<p>cantidad: 1</p>
						</div>
					</div>
					<div class="precio-unidad">
						<p>precio por unidad:</p>
					</div>
					<div class="precio-unidad-valor">
						<p>$ 150</p>
					</div>
					<div class="main-footer">
						<div class="total">
							<p>total</p>
						</div>
						<div id="precio-final-cart">
							<p>$ 1.500</p>
						</div>
					</div>
				</div>
				<button class="btn btn-primary">Finalizar Compra</button>
			</article>
		</section>
	</main>
	<!-- Include del footer.ejs -->
	<%- include('./partials/footer.ejs') %> <%- include('./partials/jsIncludes.ejs') %>
</body>

</html>