<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<%- include('head') -%>
		<title><%= titulo %></title>
	</head>
	<body>
		<%- include('header') -%>
		<div class="container">
			<h1 class="titulo">Bienvenidos</h1>
			<h2 id="mensajeHome">
				<%= mensaje %>
			</h2>
			<%- include('footer') -%>
		</div>
	</body>
</html>
